.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto 120px;
  gap: 2px 2px;
  grid-template-areas: "header" "middle" "player";
}

.header { grid-area: header; }

.middle {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  gap: 2px 2px;
  grid-template-areas: "side-bar songs-panel";
  grid-area: middle;
  overflow: hidden;
}

.side-bar { grid-area: side-bar; }

.songs-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 25px auto;
  gap: 2px 2px;
  grid-template-areas: "filter" "order-by" "song-list";
  grid-area: songs-panel;
  overflow: hidden;
}

.filter { grid-area: filter; }

.order-by { grid-area: order-by; }

.song-list { grid-area: song-list; }

.player { grid-area: player; }