.App {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 120px;
  gap: 1px 1px;
  grid-template-areas: "side-bar header" "side-bar songs-panel" "player player";
}

.side-bar { grid-area: side-bar; }

.header { grid-area: header; }

.songs-panel { grid-area: songs-panel; }

.player { grid-area: player; }

.side-bar {
  border: 1px solid green;
  padding: 10px;
}

.header {
  border: 1px solid red;
}