.player {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.song-title {
  text-align: center;
  padding: 7px;
  /* border: 1px solid red; */
  height: 20%;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  height: 80%;
}

.controls {
  display: flex;
  justify-content: space-between;
  color: 'red';
  /* border: 1px solid red; */
  width: 140px;
}

.icon-btn {
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  background-color: var(--light-blue);
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
}

.icon-btn:hover {
  background-color: var(--dark-blue);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  padding: 0;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  width: 80%;
}

.progress-bar {
  border: 1px solid black;
  background-color: var(--light-blue);
  border-radius: 2em;
  width: 75%;
  height: 8px;
  margin: 0px 5px;
}