.file-drop {
  box-sizing: border-box;
  border: 2px dashed var(--light-blue);
  border-right: 0;
  /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
  color: var(--light-blue);
  background-color: var(--grey);
  outline: none;
  height: 100%;
  font-size: 15px;
  display:  flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.file-drop:hover {
  background-color: var(--light-grey);
}

.icontest {
  width: 100%;
  height: 100%;
}